#primario{
    background-color: #050a30;
    padding: 15%;
}

#secundario{
    background-color: rgb(202, 5, 5);
    padding: 10%;
}

#terciario{
    background-color: #d9d9d9;
    padding: 5%;
}

p{
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
}